@media (max-width: 1400px) {
    .about__sertificat { display: none}
    .form { bottom: 24px;}
    .map__bg { height: 700px;}
}

@media (max-width: 1200px) {
    .header-nav {
        display: none;
    }

    .product__content {
        width: auto;
    }

    .product__img::before {
        display: none;
    }

    .product__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 80px;
    }

    .advantage__item { padding: 24px; align-items: center; justify-content: center;}
    .advantage__text { text-align: center;}
    .about__inner { margin-bottom: 100px;}
    .about__col-container { margin-bottom: 80px}
    .about__inner { flex-direction: column; }
    .about__img { width: 100%;}
    .about__img {position: relative;}
    .about__img img {width: 100%; max-width: 100%; height: 100%; position: absolute; top: 0; left: 0; }
    .about__img::after {
        content: "";
        display: block;
        padding-bottom: 40%;
    }
    .about__content { box-shadow: none; max-width: 1360px;
        margin: 24px auto 0;
        padding: 0 10px;}
    .about__text { text-wrap: wrap; }
    .about__inner { margin-bottom: 60px;}
    .about__seo-title { margin-bottom: 38px;}
    .about__col-container { gap: 24px;}
    .about__col-container { margin-bottom: 60px}
    .about__seo-title { line-height: 1.1}
    .about__line { width: 100%;}
    .footer__list { column-gap: 20px;}
}

@media (max-width: 992px) {

    .swiper {
        width: 100%;
    }

    .top__right {
        width: 100%;
    }

    .swiper__item img {
        width: 100%;
        height: 650px;
        object-fit: cover;
    }

    .top__column {
        top: 0;
        max-width: 100%;
        background-color: transparent;
        right: 0;
        /* inset: 0; */
        /* background-color: transparent; */
        /* backdrop-filter: rgba(244, 245, 239, 0.5); */
    }

    .top__title {
        color: #fff;
    }

    .top__subtitle {
        color: #fff;
    }

    /* .top__column::after {
        content: "";
        position: absolute;
        inset: 0;
        /* backdrop-filter: rgba(244, 245, 239, 0.5); */
    /*
        background-color: rgba(244, 245, 239, 0.5); */
    /*
    }*/

    .top-navigation {
        z-index: 99;
    }

    .header__inner {
        padding: 16px 0;
    }

    .products__list {
        gap: 0;
    }

    .product__item+.product__item {
        margin-top: 80px;
    }

    .product__content {
        padding: 0 24px;
    }

    .product__tilte {
        line-height: 1.2;
        height: auto;
    }

    .product__img {
        flex-basis: 50%;
    }


    .global__title {
        font-size: 48px;
        margin-bottom: 80px;
        line-height: 1;
    }

    .products,
    .goods,
    .services, .advantages
    ,.about, .delivery,   .photos{
        margin-bottom: 80px;
    }

    .goods__list {
        justify-content: space-evenly;
        gap: 83px 0;
    }

    .advantage__item {
        padding: 8px;
    }


    .global__title { margin-bottom: 60px;}

    .footer__col { width: 33.33%; }
}

@media (max-width: 768px) {
    .header__make-call {
        display: none;
    }

    .top__column {
        padding: 48px 24px;
    }

    .top__title {
        font-size: 48px;
    }

    .product__item+.product__item {
        margin-top: 48px;
    }

    .product__text {
        font-size: 16px;
    }

    .product__tilte {
        font-size: 22px;
    }

    .global__title {
        font-size: 32px;
        margin-bottom: 64px;
        line-height: 1;
    }

    .top {
        margin-bottom: 64px;
    }


    .products,
    .goods,
    .services, .photos, .advantages, .about, .delivery  {
        margin-bottom: 64px;
    }

    .goods__img {
        width: 100%;
        height: auto;
    }

    .goods__img::after {
        content: "";
        display: block;
        padding-bottom: 65%;
    }

    .goods__img img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        right: 0;
        left: 0;
    }

    .goods__content {
        padding: 16px;
        display: flex;
        flex-direction: column;
    }

    .goods__name {
        flex-grow: 1;
    }

    .goods__list {
        justify-content: start;
        gap: 16px;
    }

    .goods__item {
        width: calc(100% / 2 - 16px *1/2);
    }

    .services-bg-1 {
        display: none;
    }

    .services__wrap {
        left: 0;
        right: 0;
        position: static;
        transform: initial;
    }

    .services-bg-2 {
        height: 50vw;
        background-position: center center;
    }

    .services .container {
        background-color: #F4F5EF;
    }

    .services .global__title {
        margin-bottom: 0;
        padding-bottom: 24px;
        padding-top: 12px;
    }

    .global__title { margin-bottom: 48px;}

    .advantages__list { flex-wrap: wrap}

    .advantage__item {
        width: calc(100% / 2);
    }

    .advantage__item:nth-child(2) {
        border-right: 1px solid #c4c4c4;
    }
    .advantage__description { text-align: center;}
    .advantage__item { min-height: 200px; height: auto}
    .delivery__track { width: 100%; margin-top: 0px; background-size: cover; margin-right: 0;}
    .delivery__body { flex-direction: column; align-items: center;}
    .delivery__pay { }
    .delivery__pay {width: max(200px, 30%); height: 150px; }
    .delivery__block-arrow { right: 0; bottom: 0; }

    .footer__inner { flex-direction: column; align-items: center;}
    .footer__col {width: 100%;}
    .footer__col-logo { order: 1;}
    .footer__list { order: 2}
    .footer__col--first { order:3;}
    .footer__item { text-align: center}
    .footer__copy { text-align: center;}

}

@media (max-width: 660px) {
    .header__actions {
        margin-left: 24px;
    }

    .header__burger-box {
        margin-left: 24px;
    }

    .top__title {
        margin-bottom: 32px;
    }

    .top__title {
        font-size: 38px;

        line-height: 1.2;
    }

    .header__inner {
        padding: 16px 0;
    }

    .global__title {
        margin-bottom: 48px;
    }

    .products,
    .goods,
    .services, .photos, .advantages, .about, .delivery {
        margin-bottom: 48px;
    }

    .top-slider__content {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 8px;
    }


    .burger__text {
        display: none;
    }

    .photos-swiper {
        height: 300px;
    }

    .about__col-list { padding-left: 32px;}
    .about__col-container { margin-bottom: 32px;}
    .form { max-width: 100%; width: calc(100% - 16px - 16px);  left: 16px; right: 16px;  padding: 24px;}
    .form__label { width: 100%;}
    .form__btn { width: 100%;}
}

@media (max-width: 540px) {
    .header__action {
        display: none;
    }

    .top-navigation {
        width: 70px;
        height: 50px;
    }


    .products__list {}

    .product__item {
        flex-direction: column;
        height: auto;
    }

    .product__item:nth-child(even) .product__img {
        order: initial;
    }

    .product__tilte {
        font-size: 18px;
    }

    .product__content {
        padding: 24px 16px 16px;
    }

    .product__img img {
        position: absolute;
        top: 0;
        left: 0;
    }

    .product__img::after {
        padding-bottom: 45%;
    }

    .global__title {
        margin-bottom: 32px;
        font-size: 24px;
    }

    .goods__name {
        font-size: 18px;
    }

    .goods__price {
        font-size: 14px;
    }


    .services__wrap {
        padding: 24px 0;
    }

    .service__text {
        line-height: 1;
        font-size: 18px;
    }

    .advantage__description { font-size: 16px; margin-top: 24px;}
    .advantage__img { width: 42px; height: 42px;}
    .about__inner { margin-bottom: 32px;}
    .about__seo-title { margin-bottom: 24px;}

    .about__col-container { flex-direction: column;}
    .about__col { width: 100%;}
}

@media (max-width: 475px) {

    .top {
        margin-bottom: 32px;
    }

    .swiper {
        height: 400px;
    }

    .swiper__item img {
        height: 400px;
    }

    .top__title {
        font-size: 26px;

    }

    .top__subtitle {
        font-size: 16px;
    }

    .global__btn {
        padding-inline: 48px;
    }

    .header__inner {
        padding: 8px 0;
    }

    .top__column {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 16px;
    }

    .top__title {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .burger {
        margin-right: 0;
    }

    .header__burger-box {
        margin-left: 0;
    }

    .header__logo img {
        width: auto;
        object-fit: cover;
        height: 41px;
    }

    .header__actions {
        margin-left: 0;
    }

    .products,
    .goods,
    .services, .photos, .advantages, .about, .delivery{
        margin-bottom: 32px;
    }

    .goods__content {
        padding: 12px;
    }

    .goods__link-box {
        margin-top: 30px;
    }

    .advantage__number { font-size: 32px; line-height: 1.2;}
    .advantage__text { font-size: 16px}
}

@media (max-width: 360px) {

    .goods__list {}

    .goods__item {
        width: 100%;
    }
}

@media (max-width: 320px) {}